body {
  font-family: "Segoe UI";
}

/*header*/

header {
  background: #b76262;
  width: 80%;
  margin: auto;
}

header #logo {
  position: relative;
  left: 50%;
  margin-left: -75px;
  bottom: -8px;

}

nav {
  display: flex;
  justify-content: center;
  background: black;
}

nav .navcntnr {
  padding: 6px 0px 6px 0px ;
}

nav .navcntnr a {
  color: white;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

nav a:hover {
  color: #b96262;
}

/* content */

.content {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  margin: auto;
}

.atcls {
  display: grid;
  grid-gap:;
  border-right: 1px solid black;
}

.atcl {
  display: grid;
  grid-template-columns:auto auto;
  grid-column-gap: 80px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-left: 30px;
}

.atclnfo button {
  border: none;

}

.atclnfo button:hover{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}

.hiddenText {
  visibility: hidden;
}

hr {
  width: 75%;
}

figure {
  margin: auto;
}

.atclnfo p {
  width: 70%;
}

.atclnfo h1 {
  text-decoration: underline;
}

/*sidebar*/

.sidebar {
  display: grid;
}

.sidebar hr {
  align-self: center;
  width: 75%;

}
.rltdlnks {
  display: flex;
  flex-direction: column;
  align-items:;
  margin-top: 50px;
}

.rltdlnks h2 {
  align-self: flex start;
  padding-left: 50px;
  margin-right: 8px;
}

.rltdlnks a {
  padding: 25px;
  padding-left: 75px;
  color: black;
}

.rltdlnks a:hover {
  color: #b96262;
}

.contctsdbr  {
  display: flex;
  flex-direction: column;
  padding-left: 60px;

}

/*footer*/

footer {
  width: 80%;
  margin: auto;
  background: #b76262;
  height: 100px;
  margin-top: 50px;
}

footer section {
}

.ftrlnks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
}

.ftrlnks p {
  color: white;
  width: 50%;
}

.navcntnr {
  color: white;
}

.navcntnr a {
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: white;
}

.ftrlnks .navcntnr a:hover {
  color: #b76262;
}
